<h2>Edit Cover Image
  <p class="pull-right">
  <small><%= "Created At: #{@cover_image.created_at}" %></small>
  <%= link_to "Delete", admin_cover_image_path(@cover_image), method: "DELETE",
    confirm: "Are you sure?",
    class: "btn btn-danger"
    %>
  </p>
</h2>
<%= semantic_form_for @cover_image, url: admin_cover_image_path(@cover_image) do |f| %>
  <%= render partial: "form", locals: {f: f} %>

  <%= f.submit "Update", class: "btn btn-primary" %>

<%end%>

