<h2>Edit Document Image
  <p class="pull-right">
    <%= link_to "Delete", admin_image_path(@document), method: "DELETE",
      class: "btn btn-danger"
    %>
  </p>
</h2>
<%= semantic_form_for @document, url: admin_image_path(@document) do |f| %>
  <%= render partial: "form", locals: {f: f} %>

  <p>
    <%= image_tag @document.image.url(:thumb)%>
  </p>
  <%= f.submit "Update", class: "btn btn-primary" %>
<%end%>

